 <!-- Page Wrapper -->
 <div id="wrapper">

   <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

           <app-navbar></app-navbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)='generatePdfSummary()'><i
                            class="fas fa-download fa-sm text-white-50"></i> Export your passwords</a>
                </div>

                 <!-- Content Row -->
                 <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card bg-tools shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-center text-white display-6">
                                            <i class="fa-solid fa-briefcase fa-2x"></i>
                                        </div>
                                        <br>
                                        <div class="font-weight text-white text-center text-uppercase display-6 mb-1">
                                            Tools
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card bg-health shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-s font-weight text-white text-center display-6 text-uppercase mb-3">Password Health
                                        </div>
                                        <br>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-white">60%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-6 col-lg-5 mb-4">
                        <div class="card bg-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-auto">
                                        <div class="font-weight text-white text-uppercase display-6 mb-4">
                                            How to protect your passwords from theft</div>
                                            <div class="btn bg-white text-black">Read article</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Recently Added</h6>
                                <div class="dropdown no-arrow">
                                    <div class="col-auto text-primary">
                                        <a href="" title="Add Password"><i class="fa fa-plus fa-2x"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <div class="row">
                                        <div class="col-md-3 mb-4">
                                            <div class="card border-left-info shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                                Facebook</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-brands fa-facebook-f fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <div class="card border-left-danger shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                                Instagram</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-brands fa-instagram fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                                Google</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-brands fa-google fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <div class="card border-left-success shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                                Hackerrank</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-brands fa-hackerrank fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 mb-4">
                                            <div class="card border-left-info shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-black text-uppercase mb-1">
                                                                Twitter</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fa-brands fa-twitter fa-2x"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <div class="rounded-circle shadow h-100 py-2">
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center text-black">
                                                        <div class="col-auto">
                                                            <a href="/user" class="text-primary" title="See more"><i class="fa-solid fa-circle-arrow-right fa-2x"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Your Passwords</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body text-center ">
                                <app-doughnut-chart></app-doughnut-chart>
                                <!-- <div class="chart-pie pt-4 text-center "> -->
                                    <!-- <canvas id="myPieChart"></canvas> -->
                                    
                                <!-- </div> -->
                                <!-- <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-danger"></i> Weak
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-success"></i> Safe
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-warning"></i> Reused
                                    </span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Passwords Manager 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



