<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-7 mx-auto">
                <h3 class="login-heading mb-4">Verification link sent!</h3>
                <p class="text"> We emailed a verification link to your email</p>
                <p class="text">Please confirm your email to continue</p>
                <br>
                <br>
                <br>
                <p class="text">Didn't get confirmation email?</p>
                <a href="" class="link">Send again</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>