<div class="container d-flex align-items-center justify-content-center backg">
  <div class="row">
    <div class="card" *ngFor="let password of passwordsList">
      <div class="additional">
        <div class="user-card">
         
          <div class="points center">
            Weak
          </div>
          <img src="assets/facebook.png" width="80" height="80" viewBox="0 0 250 250" alt="facebook" aria-labelledby="title desc" class="center">

            
            
        </div>
        <div class="more-info">
            <br>
          <h1>{{password.name}}</h1>
          <div class="coords">
            <div class="mb-3">
                <label for="floatingInput">Email</label>
                <input type="text" class="form-control inp" id="floatingInput" value="{{password.email}}" name="email">
            </div>
            <div class="mb-3">
                <label for="floatingInput">Encrypted Password</label>
                <input type="text" class="form-control inp" id="floatingInput" value="{{password.encryptedPassword}}"  name="password">
            </div>
        </div>
          
        </div>
      </div>
      <div class="general text-black">
        <br>
        <h1>{{password.name}}</h1>
        <br>
        <h6>{{password.email}}</h6>
        <span class="more">Mouse over the card for more info</span>
      </div>
    </div>

    <!-- <div class="card green">
        <div class="additional">
          <div class="user-card">
           
            <div class="points center">
              Safe
            </div>
            <img src="assets/google.png" width="80" height="80" viewBox="0 0 250 250" alt="Google" aria-labelledby="title desc" class="center">
          </div>
          <div class="more-info">
              <br>
            <h1>Google</h1>
            <div class="coords">
              <div class="mb-3">
                  <label for="floatingInput">Email</label>
                  <input type="text" class="form-control inp" id="floatingInput" placeholder="Email" name="email">
              </div>
              <div class="mb-3">
                  <label for="floatingInput">Encrypted Password</label>
                  <input type="password" class="form-control inp" id="floatingInput" placeholder="Password" name="password">
              </div>
          </div>
            
          </div>
        </div>
        <div class="general text-black">
          <br>
          <h1>Google</h1>
          <br>
          <h6>boulouane@gmail.com</h6>
          <span class="more">Mouse over the card for more info</span>
        </div>
      </div> -->


      <div class="card">
        <div class="additionalp">
          <div class="user-card">
          <div (click)="add()" class="" data-toggle="modal" data-target="#modalAddPassword">
            <img src="assets/plus.png" width="80" height="80" viewBox="0 0 250 250" alt="Google" aria-labelledby="title desc" class="center">
          </div>
          </div>
          
        </div>
        <div class="general text-black">
          <br><br>
          <h1>Add new password</h1>
        </div>
      </div>
  
  </div>
</div>


<!-- Modal: modalAddPassword-->
<div class="modal fade right align-items-center" id="modalAddPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Add new password
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
       <app-add-password></app-add-password>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-info">Add</a>
        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Cancel</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal: modalAbandonedCart-->