<div class="container d-flex align-items-center justify-content-center backg">
  <div class="row">
    <div class="card green" *ngFor="let password of passwordsList">
      <div class="additional">
        <div class="user-card">
         
          <div class="points center">
            Safe
          </div>
          <img [src]="password.imageUrl" width="80" height="80" viewBox="0 0 250 250" alt="facebook" aria-labelledby="title desc" class="center">

            
            
        </div>
        <div class="more-info">
            <br>
          <h1>{{password.name}}</h1>
          <div class="coords">
            <div class="mb-3">
                <label for="floatingInput">Email</label>
                <input type="text" class="form-control inp" id="floatingInput" value="{{password.email}}" name="email" disabled>
            </div>
            <div class="mb-3">
                <label for="floatingInput">Encrypted Password   </label>
                <a (click)='showHidePassword()'><i class="fa fa-eye-slash" aria-hidden="true"></i></a>           
                <input [type]=" showPassword ? 'text' : 'password' " class="form-control inp" id="floatingInput" value="{{password.encryptedPassword}}"  name="encryptedPassword" disabled>
            </div>
        </div>
          
        </div>
      </div>
      <div class="general text-black">
        <br>
        <h1>{{password.name}}</h1>
        <br>
        <h6>{{password.email}}</h6>
        <span class="more">Mouse over the card for more info</span>
      </div>
    </div>

    

      <div class="card">
        <div class="additionalp">
          <div class="user-card">
          <div class="" data-toggle="modal" data-target="#modalAddPassword">
            <img src="assets/plus.png" width="80" height="80" viewBox="0 0 250 250" alt="Google" aria-labelledby="title desc" class="center">
          </div>
          </div>
          
        </div>
        <div class="general text-black">
          <br><br>
          <h1>Add new password</h1>
        </div>
      </div>
  
  </div>
</div>


<!-- Modal: modalAddPassword-->
<div class="modal fade right align-items-center" id="modalAddPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading">Add new password
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()">
      <div class="modal-body">
       
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <input type="email" class="form-control" id="exampleInputName" placeholder="Enter a name" name="name"
              formControlName="name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email"
              formControlName="email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="encryptedPassword"
              formControlName="encryptedPassword">
            </div>
            <div class="form-group">
              <div class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- <span class="mr-2 d-none d-lg-inline text-gray-600 small">Choose image</span> -->
                    <input type="text" class="form-control" placeholder="Choose image" name="imageUrl" formControlName="imageUrl">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right "
                    aria-labelledby="userDropdown">
                    <a class="dropdown-item" *ngFor="let logo of logos" id="imageUrl" name="imageUrl" (click)='chooseImageUrl(logo.name)'>
                        {{logo.name}}
                    </a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="submit" class="btn btn-info">Add</button>
        <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal">Cancel</a>
      </div>
    </form> 
      
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal: modalAbandonedCart-->