<div class="container-fluid ps-md-0 login">
    <div>
      <!-- <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div> -->
      <!-- <div class="col-md col-lg-6"> -->
        <div class="d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="container height-100 d-flex justify-content-center align-items-center">
                <div class="position-relative"> 
                    <div class="card p-2 text-center"> 
                        <img src="assets/multimedia-icon-padlock.png" class="img" width="70px" height="70px" alt="security icon">
                        <h6>Please enter the 2FA code <br> sent to your email</h6>
                        <div>
                        <form [formGroup]="twoFAForm" (ngSubmit)="onSubmit()">
                        <input class="m-2 text-center form-control rounded" type="text" maxlength="6" name="token" formControlName="token" /> 
                        <button class="btn btn-lg btn-primary btn-login fw-bold mb-3" type="submit">Continue</button>
                        </form>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

